.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--darkGrey);
  z-index: 2;
  opacity: 1;
  transition: var(--mainTransition);
}
.closeSidebar {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}
.header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: flex-end;
}
.movingHeader {
  padding: 1rem 2rem;
}

.closeBtn {
  border: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--mainBlack);
  outline-color: var(--primaryColor);
  background: transparent;
}
.closeIcon {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
.closeBtn:hover {
  color: var(--primaryColor);
}
.linksContainer {
  margin-top: -4.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 0.2rem 3rem;
  margin: 0.5rem 0;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.link:hover {
  padding-left: 3.5rem;
  color: var(--primaryColor);
}
